.hero{
    height: 100vh;
    background: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    display: flex;
}

.hero-left{

    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 180px;
    line-height: 1.1 ;


}

.hero-left h2{ 

    color:rgb(56, 56, 56) ;
    font-size: 24px;
    font-weight: 600;

  }

.hero-left p{
    color: rgb(42, 42, 42);
    font-size: 80px;
}  


.hand-hand-Icon{

    display: flex;
    align-items: center;
    gap: 20px;
}

.hand-hand-Icon img{
    width: 105px;
}


.hero-latest-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 310px;
    height: 70px;
    border-radius: 75px;
    margin-top: 30px;
    background-color: #5c4e4e ;
    color: aliceblue;
    font-size: 22px;
    font-weight: 500;


}

.heroright{

   flex: 1;
   display: flex;
   justify-content: center;
   align-items: center;
  
}

.heroright img {
    width: 80%; /* Adjusted the width to make the image smaller */
    max-width: 450px; /* Optional: Set a maximum width to prevent it from being too large */
}